<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        function callAjax(url, callback){
            var xmlhttp;
            // compatible with IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function(){
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                    callback(xmlhttp.responseText);

                }
            }
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }
        function updateEvents(responseText){
            document.getElementById("data").innerHTML = responseText;
            setTimeout(callAjax("/getEvents", updateEvents), 5000);
        }
        function codeAddress() {
            alert('ok');
        }
        //window.onload = codeAddress;
        //window.onload = callAjax("/getEvents", updateEvents)
        window.onload = setTimeout(callAjax("/getEvents", updateEvents), 1000);
        //window.setInterval(callAjax("/getEvents", updateEvents), 1000);
    </script>
</head>
<body>
    <h1>All received Events</h1>
        <div id="data">
            <ul>
            {{range .}}
                <li class="event">{{.EventId}}</li>
            {{end}}
            </ul>
        </div>
</body>
</html>